.contact{
  margin-top: 70px;
  margin-bottom: 50px;
}

.contact-form{
    max-width: 800px;
}

.contact-left{
    background-color: var(--color-blue);
}

.contact-form form {
  transition: all 0.3s ease-in-out;
}

.contact-form input,
.contact-form textarea {
  border-radius: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-blue) !important; 
  box-shadow: 0 0 5px var(--color-back) !important; 
  outline: none;
}