:root {
  --color-light: #DED9D9;
  --color-blue:#5dc8ad;
  --color-dark:#2b3c3a;
  --color-back:#22846d;
}

.nav-link{
    scale:1
}
.nav-link:hover{
    scale: 1.2;
}

.home__social-icon i{
  color: white;
  font-size: 1.8rem;
  scale:1;
}

.home__social-icon:hover {
  scale:1.2;
}

.home_section1, .home_section2 {
  height: 100vh;
}

.type{
    width:20ch;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
}

@keyframes typing{
    from{
        width: 0ch;
    }
}

.btn-outline-custom {
  color: var(--color-back);
  font-weight: 500;
  border: 1.5px solid var(--color-back);
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn-outline-custom:hover {
  background-color: var(--color-back);
  color: white;
}


.photo_back1{
    margin-top: 50px;
    width:300px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to left,var(--color-blue),var(--color-back));
    rotate: 40deg;
    z-index: 1;
}
.photo_back2{
    margin-top: 110px;
    width:300px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to left,var(--color-blue),var(--color-back));
    rotate: 8deg;
    translate: -30px 0px;

}
span{
    font-weight:700;
}
.head,span{
    color: var(--color-back);
}
.head{
    text-shadow:1px 1px 3px rgb(145, 141, 141);
}

.progress-bar{
    width:0;
    animation: growBar 2s ease-in-out forwards;
    background-color: var(--color-blue);
    position: relative;
    overflow: visible;
}

@keyframes growBar{
    to{
        width: var(--level);
    }
}

.progress{
    margin-top: 7px;
    position: relative;
    border: 1px solid black;
    box-shadow: 3px 3px 8px gray;
    overflow: visible;
}

.progress-label{
    display: inline-block;
    background-color:var(--color-back);
    color: white;
    position: absolute;
    top: -25px;
    right:0px;
    z-index: 3;
    transform: translateX(50%);
    font-size:smaller;
    font-weight: 400;
    padding: 2px;
}

.progress-label::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-back) transparent transparent transparent;
}

.card{
    background-color: white;
    max-height: 300px;
    transition: all 0.3s ease-in-out;
}

.card-img-top{
    /* opacity: 0.65; */
    filter: blur(1px);
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-title{
    display: inline-block;
    color: white;
    text-shadow: 1.5px 1.5px 3px black;
}

.content-container{
    background-color: var(--color-blue);
    color: white;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 1.6s ease;
    z-index: 2;
}

.card:hover .content-container {
    transform: translateY(0);
    opacity: 1;
}

.card-body{
    height: 90px;
}

.badge{
    background-color: var(--color-blue);
    font-size:12px;
    padding: 6px;
    border-radius: 50px;
}

.list-inline {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.contact{
  margin-top: 70px;
  margin-bottom: 50px;
}

.contact-form{
    max-width: 800px;
}

.contact-left{
    background-color: var(--color-blue);
}

.contact-form form {
  transition: all 0.3s ease-in-out;
}

.contact-form input,
.contact-form textarea {
  border-radius: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--color-blue) !important; 
  box-shadow: 0 0 5px var(--color-back) !important; 
  outline: none;
}