:root {
  --color-light: #DED9D9;
  --color-blue:#5dc8ad;
  --color-dark:#2b3c3a;
  --color-back:#22846d;
}

.nav-link{
    scale:1
}
.nav-link:hover{
    scale: 1.2;
}

.home__social-icon i{
  color: white;
  font-size: 1.8rem;
  scale:1;
}

.home__social-icon:hover {
  scale:1.2;
}